<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p> -->
<!-- <div class="container"> -->
  <p>Ask your coach anything:</p>
  <div class="form-row form-inline">
    <form action="/answer" method="get" class="text-center">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask" class="form-control btn btn-primary">
    </form>
  </div>
<!-- </div> -->

